<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>New Message Form</h1>
    <form method="POST" action="/new">
      <label for="username">Name</label>
      <input type="text" id="username" name="messageUser" placeholder="">

      <label for="message">Message</label>
      <input type="text" id="message" name="messageText" placeholder="Enter message here...">

      <button type="submit">Submit</button>
    </form>
    
    <a href="/">Home</a>
  </body>
</html>