#output {
    font-size: 75px;
    background-color: black;
    color: white;
    text-align: right;
    margin: 2rem;
    width: 400px;

}

#buttons {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
}

#buttons button {
    font-size: 50px;
    border-radius: 100px;
    margin: 1rem;
    padding: 0.5rem;
    color: white;
    border: solid 0 black;
    width: 75px;
}

#buttons .modify {
    font-size: 30px;
    color: black;
}

#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    background-color: black;
    padding: 2rem 0;
    
}

.numbers {
    background-color: grey;
}

.operators, #equal {
    background-color: orange;
}

#buttons #zero {
    width: 180px;
}