.aboutPage {
  min-height: calc(100vh - 15rem);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.aboutPage h1 {
  margin-top: 10rem;
  font-size: 2rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px lightgray ;
}

.aboutPage p {
  margin-top: 2rem;
  text-align: center;
}