.footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding-top: 2rem;
}

.main {
  display: flex;
  justify-content: center;
  height: 8rem;
  width: 100vw;
}

.main p, .main input {
  font-size: .8rem;
}

.logo {
  width: 20vw;
}

.logo h1 {
  font-size: 2rem;
}

.links {
  display: flex;
  flex-wrap: wrap;
  width: 30vw;
  height: 5rem;
}

.links p {
  color: lightgray;
  width: 10rem;
  margin-bottom: .5rem;
}

.subscribe, .social {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.subscribe {
  width: 25vw;
}

.subscribe input {
  width: 10rem;
  background-color: black;
  color: white;
  border: none;
  border-bottom: solid 2px grey;
}

.social {
  width: 15vw;
}

.social div {
  display: flex;
  justify-content: space-between;
  width: 5rem;
}

footer {
  margin: 1rem;
  font-size: .8rem;
  display: flex;
  color: grey;
  align-items: center;
}

footer p {
  padding: 0 2rem;
}

footer div {
  width: 40vw;
  height: 1px;
  background-color: darkgrey;
}